.container--main {
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  background: #f8edeb;
  border: 2px solid black;
  width: 48%;
  cursor: pointer;
}

.move-to-end {
  margin-left: auto;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.move-to-end p {
  font-weight: bold;
  font-size: 32;
}

.card--container {
  display: flex;
  padding-top: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  height: 100%;
}

.card--content {
  padding: 5px;
}

.card--content p {
  font-weight: bold;
}

.regular-text {
  font-weight: normal;
  margin-left: 4px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  align-items: center;
  position: sticky;
  background: #90e0ef;
  height: 60px;
  top: 0;
}

.navbar h1 {
  font-size: 20px;
}

.navbar--links {
  display: flex;
  gap: 10px;
  font-size: 14px;
}

.profile--container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.profile--box {
  display: flex;
  gap: 10px;
  align-items: center;
}

.profile--box p {
  font-weight: 400;
}

.usericon {
  height: 24px;
  width: 24px;
}

.profile--background {
  background-color: #caf0f8;
  border-radius: 10px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login--container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  top: 100px;
}

.input--container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input--container label {
  font-weight: 600;
}

.input--container input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #fff;
  width: 100%;
  border: 1px solid #90e0ef;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.login--container button {
  outline: none;
  border: none;
  background-color: #90e0ef;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 5px;
}

.link--containers {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.nav--links {
  font-size: 14px;
  font-weight: 500;
}

.link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.logout--btn {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.edit--input {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 5px;
}

.edit--input label {
  font-weight: 500;
}

.edit--input input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #fff;
  width: 100%;
  border: 2px solid #90e0ef;
  margin: 0 0 15px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
}

.button--container {
  display: flex;
  gap: 10px;
}

.button--container button {
  height: 40px;
  padding: 0px 10px;
}


.edit--container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.flex--container {
  padding-top: 10px;
  display: flex;
  gap: 50px;
}

.loading--container {
  display: grid;
  place-items: center;
  width: 100%;
  height: 90vh;
}

.loading {
  border-bottom: 4px solid rgba(0, 0, 0, .2);
  border-left: 4px solid rgba(0, 0, 0, .2);
  border-right: 4px solid rgba(0, 0, 0, .2);
  border-top: 4px solid rgba(0, 0, 0, .5);
  border-radius: 100%;
  height: 32px;
  width: 32px;
  animation: spin .6s infinite linear;
  text-indent: 999em;
  margin: 3em auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}